@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(90deg, #f0bc7d, #f8a9ad);
  min-height: 100vh;
}

h1{
  font-size: 3rem;
}

header,
form{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

form input,
form button{
  padding: 0.5rem;
  font-size: 1.5rem;
  border: 0;
  background: #fff;
  font-family: inherit;
  font-weight: 300;
}

form button{
  border-left: 1px solid lightgray;
  cursor: pointer;
  color: #f18d92;
  transition: all 0.5s ease;
}
form button:hover{
  background:#fa4b5a;
  color: #fff;
}

form input:focus,
form button:focus{
  outline: none;
}

/* Select */
.select{
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after{
  content: '\25bc';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background-color:#fb6a76;
  pointer-events: none;
}

select{
  color: #ff6f47;
  cursor: pointer;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  border: 0;
  box-shadow: none;
  background-image: none;
}

.filter-todo{
  padding: 1rem;
  width: 9rem;
}

.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list{
  min-width: 30%;
  list-style: none;
}

.todo{
  margin: 0.5rem;
  background-color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn{
  cursor: pointer;
  background: #ff6f47;
  font-size: 1.5rem;
  color: #fff;
  border: 0;
  padding: 0.7rem;
}

.complete-btn{
  background: rgb(2, 178, 134);
}

.todo-item{
  padding: 0rem 0.5rem;
  /* display: flex;
  justify-content: left;
  align-items: center; */
}
/* .fa-trash,
.fa-check{
  pointer-events: none;
} */
/* 

.todo{
  margin: 0.5rem;
  background: #fff;
  font-size: 1.5rem;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-content: center;
  transition: all 1s ease;
}

.todo-item{
  padding: 0rem 0.5rem;
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: center;
}

.fa-trash,
.fa-check{
  pointer-events: none;
}

.fall{
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed{
  text-decoration: line-through;
  opacity: 0.5;
} */

